---
interface Props {
	title: string;
	tag: string;
	body: string;
	site: string;
    tech: string;
	repo: string;
}

const {  title, tag, site, repo,tech,body } = Astro.props;
---
<div class="space-y-1">
<h1 class=" font-bold text-xl ">{title}</h1>
<h2 class="italic text-xs"> {tag} </h2>

    <div class="flex flex-row space-x-2  text-xs">
        <p>🔗</p> 
	    <a href={site} target="_blank" rel="noopener noreferrer">
		<p class="underline">
            Deployed Site	
		</p>
	</a>
	<a href={repo} target="_blank" rel="noopener noreferrer">
		<p>🔗</p> 
	    <a href={repo} target="_blank" rel="noopener noreferrer">
		<p class="underline">
            Repo	
		</p>
	</a>
    </div>

	<p>{tech}</p>
	<p>{body}</p>
</div>
<!-- ----- -->
<style>
	
</style>
