---
interface Props {
	title: string;
	tag: string;
	body: string;
	site: string;
	repo: string;
}

const {  title, tag, body, site, repo } = Astro.props;
---

<h1 class=" font-bold ">{title}</h1>
<h2 class=" italic"> {tag} </h2>
	
	<a href={site} target="_blank" rel="noopener noreferrer">
		<h2>
			<span>🔗</span>
			Deployed Site	
		</h2>
		
	</a>
	
	<a href={repo} target="_blank" rel="noopener noreferrer">
		<h2>
			<span>🔗</span>
			Repo
		</h2>
		
	</a>
	<p>{body}</p>
<style>
	
</style>
